<!DOCTYPE html>
<html>
<head>
    <title>Employee Information Form</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Employee Information Form</h2>
        <form action="/" method="post" > <!-- Replace '/submit' with your form submission URL -->
            
            <div class="form-group">
                <label for="emp_name">Employee Name:</label>
                <input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="Enter Employee Name">
            </div>
            <div class="form-group">
                <label for="DOJ">Date of Joining:</label>
                <input type="text" class="form-control" id="DOJ" name="DOJ" placeholder="Enter Date of Joining">
            </div>
            <div class="form-group">
                <label for="MOnumber">Mobile Number:</label>
                <input type="text" class="form-control" id="MOnumber" name="MOnumber" placeholder="Enter Mobile Number">
            </div>
            <button type="submit">Submit</button>
            <button><a href="/fetch_data">Fetch All Data</a></button>
        </form>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
