<!DOCTYPE html>
<html>
<head>
    <title>Employee Information Table</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Employee Information Table</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Date of Joining</th>
                    <th>Mobile Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                <!-- You can dynamically generate table rows here using Flask templates -->
                <tr>
                    <td>{{data[0]}}</td>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}}</td>
                    <td>
                        <button>
                            <a href="/delete/{{data[3]}}">Delete</a>

                        </button>
                        <button>
                            <a href="/fetchtoupdate/{{data[3]}}">Update</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
